.BtnCarrito{
    right:-7% ;
    height:auto;
    border: none;
    border-radius:50%;
    background-color: rgb(0, 200, 255);
    color:rgb(10, 10, 11);
}
.btnLogin{
    border-radius:100%;
    background-color: white;
    background: border-box;
    border: none;
    display: block;
    position: relative; 
    right:-7%;
    top: 0;
    height: 50px;
    width: 50px;
    text-align: center; 
}