.BtnCarrito{
    right:-7% ;
    height:auto;
    border: none;
    border-radius:50%;
    background-color: rgb(0, 200, 255);
    color:rgb(10, 10, 11);
}
.btnim{
    width:auto;
    border-bottom: none;
    color: black;
    text-align: center;
    text-decoration: none;
}